
# Environment Variables
.env

# Dependencies
venv/
__pycache__/

# Downloads
downloads/

# Temporary Files
temp_vidzilla/
cookies.txt

# RSS feeds configuration
rss_feeds.json

# Transcripts (we want these in git, so remove if present)
# transcripts/
