
# Environment Variables
.env

# Dependencies
venv/
__pycache__/

# Downloads
downloads/

# Temporary Files
temp_vidzilla/
cookies.txt

# Transcripts (we want these in git, so remove if present)
# transcripts/
